<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>株価予測</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <style>
    .container {
      max-width: 1400px;
      margin: 0 auto;
      padding: 5px;
    }
    
    h2 {
      text-align: center;
      margin-bottom: 30px;
      font-size: 28px;
      color: #333;
    }

    .form-container {
      text-align: center;
      margin-bottom: 20px;
    }

    input[type="text"], button {
      font-size: 20px;
      padding: 10px;
      margin: 5px;
    }

    .table-head, .table-body {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .table-head div, .table-body div {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 1px solid #ddd;
    }

    .table-head div {
      background-color: #42cea9;
      color: #ffffff;
      font-size: 18px;
    }

    .table-body div:last-child {
      border-bottom: none;
    }

    .cell {
      flex: 1;
      text-align: center;
    }

    .table-body {
      margin-top: 20px;
    }
    .details-link {
      color: blue;
      text-decoration: underline;
  }
  </style>
</head>
<body>
  <div class="container">
    <h2>1年後株価予測</h2>
    <h1>＊将来における当該銘柄の株価動向を示唆・保証するものではありません。</h1>
    <div class="form-container">
      <input type="text" id="input" placeholder="銘柄コードを入力">
      <button onclick="fetchPrediction()">予測</button>
    </div>
    <div class="table-head">
      <div>
        <span class="cell"><nobr>銘柄コード</nobr></span>
        <span class="cell"><nobr>会社名</nobr></span>
        <span class="cell"><nobr>最新価格</nobr></span>
        <span class="cell"><nobr>線形予測価格</nobr></span>
        <span class="cell"><nobr>3次予測価格</nobr></span>
        <span class="cell"><nobr>SVR予測価格</nobr></span>
        <span class="cell"><nobr>GB予測価格</nobr></span>
        <span class="cell"></span> <!-- Added Details Column Header -->
      </div>
    </div>
    <div class="table-body" id="predictions-list">
      <% predictions.forEach(prediction => { %>
        <div class="prediction-row">
          <span class="cell"><%= prediction.ticker %></span>
          <span class="cell"><%= prediction.company_name %></span>
          <span class="cell">¥<%= prediction.latest_price ? prediction.latest_price.toFixed(2) : 'N/A' %></span>
          <span class="cell">¥<%= prediction.linear_predicted_price ? prediction.linear_predicted_price.toFixed(2) : 'N/A' %></span>
          <span class="cell">¥<%= prediction.cubic_predicted_price ? prediction.cubic_predicted_price.toFixed(2) : 'N/A' %></span>
          <span class="cell">¥<%= prediction.svr_predicted_price ? prediction.svr_predicted_price.toFixed(2) : 'N/A' %></span>
          <span class="cell">¥<%= prediction.gradient_boosting_predicted_price ? prediction.gradient_boosting_predicted_price.toFixed(2) : 'N/A' %></span>
          <span class="cell">
            <a href="/details/<%= prediction.id %>" class="details-link">詳細</a>
        </span>
        </div>
      <% }) %>
    </div>
  </div>

  <script>
    function fetchPrediction() {
      var input = $('#input').val();
      $.ajax({
        url: '/run-python?input=' + input,
        type: 'GET',
        success: function(response) {
          console.log('Prediction updated');
          $('#input').val('');
          updatePredictions();
        },
        error: function(error) {
          console.error('Error fetching prediction: ', error);
        }
      });
    }

    function updatePredictions() {
      $.ajax({
        url: '/',
        type: 'GET',
        success: function(response) {
            var newList = $(response).find('.table-body').html();
            $('#predictions-list').html(newList); // 新しいデータでリストを更新
        },
        error: function(error) {
          console.error('Error reloading predictions: ', error);
        }
      });
    }
  </script>
</body>
</html>
